

<!-- CSS dosyalarını buraya ekleyin 
<nav class="navbar navbar-dark bg-primary">
    <div>
        <a class="navbar-brand" href="{% url 'home' %}">ANA SAYFA</a>
        <ul class="navbar-nav me">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ü' %}">Ürünler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'h' %}">Hakkında/İletişim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ff' %}">Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Kayıt Ol</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Giriş yap</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Çıkış yap</a>
            </li>
        </ul>
    </div>-->
    <form class="b">
      <input spellcheck="false" type="text" class="search" id="search" placeholder="Search mail">
      <input/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
            <a class="c" href="{% url 'ff' %}">giriş yap</a>
            <a class="c" href="{% url 'register' %}">Kayıt Ol</a>




            <input type="checkbox" name="" id="chk1">
            <div class="logo"> <h1> WEB MASTER</h1></div>
            










    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="a">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <a class="navbar-brand" href="#">Navbar</a>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'ü' %}">Ürünler</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'h' %}">Hakkında/İletişim</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'ff' %}">Forum</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">e </a>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
      
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                
              </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            
              </div>
          
      
      
              <div class="e">
              
              </ul>
              <ul class="cul1">
                  <li class="nav-i">
                      <form class="d-flex">
                          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                
                    </li>
          
              </ul>
            </div>
      
      
      
            <div class="r">
              <ul class="cul">
                  <li class="nav-ii">
                      <div class="e">
                      <a class="nav-link" href="{% url 'ff' %}">giriş yap</a>
                      </div>
                    </li>
                    <li class="nav-ii">
                      <div class="e">
                      <a class="nav-link" href="{% url 'register' %}">Kayıt Ol</a>
                      </div>
                    </li>
      
              </ul>
            </div>
            </div>
          </div>
        </nav>