{% load static %}

{% block css_files %}   
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>


        *{
            margin: 0; 
            padding: 0; 
            box-sizing: border-box; 
            font-family: "Poppins" , sans-serif;
        }
        
        body{
            display: flex; 
            justify-content: center;
            align-items: center;
            min-height: 100vh; 
            background: url('{% static 'img/w.jpg' %}') no-repeat;
        
            background-size: cover;
            background-position: center; 
        }
        .wrapper{
            width: 420px;
            background: transparent;
            border: 2px solid rgba(255, 255,255 , .2); 
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0,0,0 , .2);
            color: #fff;
            border-radius: 10px; 
            padding: 30px 40px; 
        
            position: absolute; 
            left: 50%;  /* x koordinati  */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
             
        }
        .wrapper h1{
            font-size: 36px; 
            text-align: center;
        }
        .wrapper .input-box{
            position:relative; 
            width: 100%;
            height: 50px; 
           
            margin: 30px 0; 
        }
        .input-box input{
            width: 100%;
            height: 100%;
            background: transparent;
            border: none; 
            outline: none;
            border: 2px solid rgba(255,255, 255, .2);
            border-radius: 40px;
            font-size: 16px; 
            color: #fff;
            padding: 20px 45px 20px 20px;
        }
        
        .input-box input::placeholder{
            color: #fff;
        }
        .input-box i {
            position: absolute;
            right: 20px; 
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px; 
        
        }
        .navbbb{
        
            transform: translateX(+3%) translateY(-200%);
        }
        .wrapper .remember-forgot{
            display: flex; 
            justify-content: space-between; 
            font-size: 14.5px; 
            margin: -15px 0 15px; 
        
        }
        .remember-forgot label input{ 
            accent-color: #fff; 
            margin-right: 3px; 
        
        }
        .remember-forgot a { 
            color: #fff; 
            text-decoration: none; 
        }
        .remember-forgot a:hover { 
            text-decoration: underline; 
        }
        .wrapper .btn {
            width: 100%;
            height: 45px;
            background: #fff;
            border: none; 
            outline: none; 
            border-radius: 40px; 
            box-shadow: 0 0 10px rgba(0,0,0, .1);
            cursor: pointer; 
            font-size: 16px; 
            color: #333; 
            font-weight: 600; 
        }
        .wrapper .register-link{
            font-size: 14.5px; 
            text-align: center; 
            margin-top: 20px 0 15px ; 
        
        }
        .register-link p a {
            color: #fff; 
            text-decoration: none; 
            font-weight: 600; 
        }
        .register-link p a:hover {
            text-decoration: underline; 
        }
        
        .e {
            weight: 100%; 
            display: flex;
            justify-content: space-between;
            align-items: center; /* Opsiyonel: Öğeleri dikey olarak ortalamak için */
            height: 60px; /* Belirli bir yükseklik verilebilir */
            background-color: white; /* Arka plan rengi */
            color: #fff; /* Yazı rengi */
            padding: 0 0px; /* Kenar boşluğu */
            margin-bottom: 400px; 
            
            /*  konumu :  */     
            position: fixed;
            top: 0;
            left: 0;
        
            width: 100%;
        
        
        
        }
        


</style>
{% endblock %}

{% block contentt %}

    <div class="navbbb"> 
        {% include 'partials/_navbar.html' %} </div> 

<div class="wrapper">

<!--   register kayit edilmesi için : -->
<!--  register yaptiktan sonra  login sayfasina gider -->

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        {% if error %}
        <div class="alert alert-danger">
                {{error }}
        </div>

        {% endif %}
       
        <h2>Register</h2>

        <div class="input-boxz">
            <input type="text" placeholder="Ad" name="firstname" required>
            <i class='bx bxs-user'></i>
        </div>

        <div class="input-boxz">
            <input type="text" placeholder="SoyAd" name="lastname" required>
            <i class='bx bxs-user'></i>
        </div>

        <div class="input-boxz">
            <input type="text" placeholder="KullanıcıAdı" name="username" required>
            <i class='bx bxs-user'></i>
        </div>

        <div class="input-boxz">
            <input type="email" placeholder="Email" name="email" required>
            <i class='bx bxs-user'></i>
        </div>

<div class="input-boxz">
            <input type="password" placeholder="Şifre" name="password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
<div class="input-boxz">
            <input type="password" placeholder="Şifre Tekrarı" name="repassword" required>
            <i class='bx bxs-lock-alt'></i>
        </div>

        <button type="submit" class="btn">Register</button>

        <div class="register-linkz">
            <p> Already have an account? <a href="#" class="">Login</a></p>
        </div>
    </form>
</div>
{% endblock %}