
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col-md-6 {
        width: calc(33.33% - 20px); /* 3 ürün için */
        margin-bottom: 20px;
    }
    @media (max-width: 992px) {
        .col-md-6 {
            width: calc(50% - 20px); /* 2 ürün için */
        }
    }
    @media (max-width: 768px) {
        .col-md-6 {
            width: calc(100% - 20px); /* 1 ürün için */
        }
    }

